.navbar
{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    box-shadow: 0 1px 3px -2px black;
}

.nav-logo
{
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.nav-logo  p
{
    color: #171717;
    font-size: 1.5rem;
    font-weight: 600;
}

.nav-menu{
    display: flex;
    align-items: none;
    list-style: none;
    gap: 3.125rem;
    color: #626262;
    font-size: 1.25rem;
    font-weight: 500;
}

.nav-menu li
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr{
    border: none;
    width : 80%;
    height: 0.188rem;
    border-radius: 0.625rem;
    background: #FF4141;
}

.nav-login-cart
{
    display: flex;
    align-items: center;
    gap: 2.813rem;
}

.nav-login-cart button{
    width: 9.813rem;
    height: 3.625rem;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 4.688rem;
    color: #515151;
    font-size: 1.25rem;
    font-weight: 500;
    background: white;
    cursor: pointer;
}

.nav-login-cart button:active{
    background: #F3F3F3;
}

.nav-cart-count
{
    width: 1.375rem;
    height: 1.375rem;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: -2.188rem;
    margin-left: -3.438rem;
    border-radius: 0.688rem;
    font-size: 0.875rem;
    background: red;
    color: white;
    flex-wrap: wrap;
}

.link{
    text-decoration: none;
}

@media (max-width:1280px) {
    .navbar{
        padding: 12px 50px;   
    }

    .nav-logo img{
        width: 40px;
    }

    .nav-logo p{
        font-size: 25px;
    }

    .nav-menu{
        gap:30px;
        font-size: 16px;
    }

    .nav-login-cart{
        gap:30px;
    }

    .nav-login-cart button{
        width: 120px;
        height: 45px;
        font-size: 16px;
    }
    
    .nav-cart-count{
        margin-left: -40px;
        font-size: 12px;
    }


}